---
// src/components/BaseHead.astro

import "../styles/global.css";

// 接收 Layout 传递的所有 SEO 数据
interface Props {
    title: string;
    description: string;
    canonicalUrl: string;
    siteUrl: string;
    hreflangs: any[];
    ogImage?: string; 
}

const {
    title,
    description,
    canonicalUrl,
    siteUrl,
    hreflangs,
    ogImage = `${siteUrl}/og-image.png`,
} = Astro.props;
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>{title}</title>
<meta name="description" content={description} />
<link rel="canonical" href={canonicalUrl} />

{hreflangs.map((link) => (
    <link 
        rel="alternate" 
        hreflang={link.locale} 
        href={link.url} 
    />
))}


<meta property="og:type" content="website" />
<meta property="og:url" content={canonicalUrl} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={ogImage} />
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={canonicalUrl} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={ogImage} />

<link rel="icon" href="/favicon.ico" sizes="any" />
<link rel="shortcut icon" href="/logo.svg" type="image/x-icon" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<meta name="theme-color" content="#3050FF" /> <meta name="robots" content="index, follow" />
<meta name="googlebot" content="index, follow" />

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-WWZXRYCKZG"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-WWZXRYCKZG');
</script>

<script is:inline defer src="https://unpkg.com/alpinejs@3.10.5/dist/cdn.min.js"></script>